{% extends 'layout.twig' %}

{% block title "Contact" %}

{% block body %}

    <h1>Me Contacter</h1>

    {% if flash('success') %}
        <div class="alert alert-success">
            {{ flash('success') }}
        </div>
    {% endif %}

    {% if flash('error') %}
        <div class="alert alert-danger">
            {{ flash('error') }}
        </div>
    {% endif %}

    <form action="{{ path('contact') }}" method="post">
        {{ csrf_input() }}
        {{ field('name', current_user() ? current_user().username : null, 'Votre nom', { wrapper_class: 'col-md-4' }) }}
        {{ field('email', current_user() ? current_user().email : null, 'Votre email', { type: 'email', wrapper_class: 'col-md-4' }) }}
        {{ field('content', null, 'Votre message', { type: 'textarea', wrapper_class: 'col-md-10' }) }}
        <button class="btn btn-primary mt-2">Envoyer</button>
    </form>

{% endblock %}
