{% extends 'layout.twig' %}

{% block body %}

    <form action="{{ path('account.signup') }}" method="post">
        {{ csrf_input() }}
        <div class="row">
            <div class="col-md-6">
                {{ field('username', user.username, "Nom d'utilisateur", { wrapper_class: 'col-md-10' }) }}
                {{ field('email', user.email, "Email", { type: 'email', wrapper_class: 'col-md-10' }) }}
            </div>
            <div class="col-md-6">
                {{ field('password', null, "Mot de passe", { type: 'password', wrapper_class: 'col-md-8' }) }}
                {{ field('password_confirm', null, "Confirmez le mot de passe", { type: 'password', wrapper_class: 'col-md-8' }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary mt-2">Valider</button>
            </div>
        </div>
    </form>

{% endblock %}
